body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.hero {
    padding: 0px 40px 0px 40px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero_secondary_text {
    font-size: 18px;
    color: #E5E7EB;
}

.interior {
    margin-left: 20px;
    margin-bottom: 20px;
}

.interior img {
    width: 400px;
    height: 400px;
}

button {
    background-color: #3882F6;
    color: white;
}

.info {
    align-self: center;
}

.info h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.info div {
    display: flex;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.item img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.testimony {
    background-color: #E5E7EB;
    font-size: 20px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 15px;
}

.testimony p {
    margin: 10px 0px;
}
.client {
    align-self: flex-end;
    font-style: normal;
    font-weight: 900;
}

.cta {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding: 40px;
    color: white;
    font-size: 24px;
    border-radius: 15px;
}

.cta button {
    border: 2px white solid;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}